apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx-scaled
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-scaled
  template:
    metadata:
      labels:
        app: nginx-scaled
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
